@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

@import url('./lib/flexbox.css');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}

:root {
    --header-color: #fefcfe;
}

* {
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    color: var(--header-color);
    z-index: 999;
}
header::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(to left, #121212, #333, #121212);
    opacity: 0;
    transition: .5s ease;
}
header.onsecond::before {
    opacity: 1;
}

header h2, .intro h2 {
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #000;
    /* margin-bottom: 0px; */
}

.header-inner {
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    list-style: none;
    width: 600px;
    justify-content: space-between;
}

header a {
    position: relative;
    padding: 15px;
    font-size: .9em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--header-color);
    margin-left: 5px;
}

header a::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid var(--header-color);
    border-radius: 25px;
    transition: .3s ease-in-out;
    clip-path: polygon(10px 10px, calc(100% - 10px) 10px, calc(100% - 10px) calc(100% - 10px), 10px calc(100% - 10px));
}

header a:hover::before {
    clip-path: polygon(0px 0px, 0px 100%, 100% 100%, 100% 0px);
}

.heading {
    position: relative;
}

main {
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.full-width {
    width: 100%;
}
.full-height {
    height: 100%;
}

.video-container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.video-container::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
}

.video-container video {
    position: absolute;
    width: 100%;
    left: 50%; 
    top: 50%;
    transform: translate(-50%, -50%);
}

.intro-inner {
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: var(--header-color);
    padding-right: 400px;
}

.intro-inner a {
    color: var(--header-color);
    text-decoration: none;
    padding: 15px;
    border: 1px solid var(--header-color);
    border-radius: 25px;
    transition: .4s ease-in-out;
}

.intro-inner a:hover {
    background-color: rgba(255, 255, 255, .5);
}

.wrapper {
    width: 1100px;
    margin: 0 auto;
}

.second {
    height: 100vh;
}

.second--text {
    width: 60%;
}
